<div 
    class="wp-block-flyfree-image-banner alignfull {{ attributes.spacing | prepend('margin-top-') }} {{ attributes.size | prepend('is-') }}" 
    data-background="{{ attributes.image }}"
    {{ attributes.id | prepend('id="') | append('"') }}>
</div>