.button,
input[type="submit"] {
    display: inline-block;
    background: $red;
    color: white;
    padding: 1rem 1.25rem;
    font-size: .875rem;
    font-weight: 900;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 300ms;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;

    &:hover,
    &:focus {
        box-shadow: none;
        background: lighten($red, 10%);
    }
}