.footer-cta {
    background-color: lighten($red, 1.25%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23BC0016' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    display: block;
    padding: 2.5rem 1.5rem;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -1.5rem;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-bottom: 24px solid lighten($red, 1.25%);
        transition: border-bottom 300ms;
    }

    &:hover {
        background-color: lighten($red, 2%);
        box-shadow: none;

        &::before {
            border-bottom-color: lighten($red, 2%);
        }
    }
}