.site-footer {
    background-color: $grey;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23#{grey}' fill-opacity='.1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    color: $white;
    text-align: center;
    padding: $spacing-large $spacing-small;

    .container {
        max-width: 640px;
    }

    &__heading {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
    }

    &__form {
        max-width: 360px;
        margin: 0 auto;
    }

    label {
        position: absolute;
        text-indent: -999rem;
    }
}