.site {
    width: 100%;
    max-width: $alignfull;
    background: $white;
    margin: 0 auto;
    min-height: 100vh;
}

.entry-content {
    max-width: $entry-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    width: 100%;
}

.alignwide,
.container {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: $alignwide;
    width: 100%;

    @include breakpoint($alignwide) {
        margin: 0 auto;
        max-width: $alignwide;
    }
}

.alignfull {
    margin: 0 calc(50% - 50vw);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100vw;
    width: 100vw;

    @include breakpoint($alignfull) {
        margin: 0 calc(50% - #{$alignfull} / 2);
        max-width: $alignfull;
    }
}

.padding-small {
	padding-top: $spacing-small;
	padding-bottom: $spacing-small;
}

.padding-medium {
	padding-top: $spacing-medium;
	padding-bottom: $spacing-medium;
}

.padding-large {
	padding-top: $spacing-large;
	padding-bottom: $spacing-large;
}

.margin-top-small {
	margin-top: $spacing-small;

	&:last-child {
		margin-bottom: $spacing-small;
	}

	& + [class*="padding-"] {
		margin-top: $spacing-small;
	}
}

.margin-top-medium {
	margin-top: $spacing-medium;

	&:last-child {
		margin-bottom: $spacing-medium;
	}

	& + [class*="padding-"] {
		margin-top: $spacing-medium;
	}
}

.margin-top-large {
	margin-top: $spacing-large;

	&:last-child {
		margin-bottom: $spacing-large;
	}

	& + [class*="padding-"] {
		margin-top: $spacing-large;
	}
}
