html,
html * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.8;
    background: $light-grey;
    font-family: $primary-font;
    color: $grey;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 900;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 900;
    color: $red;
}

a {
    display: inline-block;
    transition: all 300ms;
    color: $red;
    text-decoration: none;
    box-shadow: 0 -1px 0 0 $red inset;
    padding: 0 2px;
    line-height: 1.4;

    &:hover {
        color: white;
        box-shadow: 0 -23px 0 0 $red inset;
    }
}

strong {
    font-weight: 900;
}

.form {

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex: 1 0 100%;
        margin-bottom: $spacing-mini;
    }

    &__footer {
        margin-top: $spacing-small;
    }
}

input {
    &:not([type="submit"]) {
        width: 100%;
        border: 1px solid $light-grey;
        height: 2.5rem;
        padding: 0 $spacing-small;
        font-size: .875rem;
        font-family: $primary-font;
        border-radius: 3px;
        transition: box-shadow 300ms, border 300ms;
    
        &:focus {
            box-shadow: 0 0 0 3px $medium-grey inset;
            border-color: $medium-grey;
            outline: none;
        }
    }
}

