@import '../../../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import "../../../_common/styles/colors";
@import "../../../_common/styles/spacing";
@import "../../../_common/styles/fonts";

$small: '600px';
$medium: '782px';
$large: '960px';
$xlarge: '1024px';
$full: '125rem';