{% set background = post.meta( 'hero_image' ) %}

<header class="entry-header {% if background %}has-background{% endif %}" style="background-image: url( {{ background.url }} );">
	{{ post.meta( 'alternate_page_sub_title' ) | prepend('<span class="entry-header__subtitle">') | append('</span>') }}

	{% if not fn('is_front_page') %}
		<h1 class="entry-header__title"> 
			{% if post.meta( 'alternate_page_title' ) != blank %}
				{{ post.meta('alternate_page_title') }}
			{% else %}
				{{ post.title }}
			{% endif %}
		</h1><!-- /.entry-header__title -->
	{% endif %}
</header><!-- /.entry-header -->
