<footer class="site-footer">
    <div class="container">
        <div class="site-footer__heading">Join Our Mailing List</div><!-- /.site-footer__heading -->
        <p>
            Sign up to receive updates via our newsletter. 
            You can unsubscribe at any time by clicking the 
            the unscribe link in our emails.
        </p>
        
        <form action="//flyfreemovement.us12.list-manage.com/subscribe/post?u=b6948f032db184ef12e04ed80&amp;id=2326dffeeb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form site-footer__form" target="_blank" novalidate="novalidate">
            <ul class="form__list">
                <li class="form__item">
                    <input type="text" value="" name="FNAME" class="valid" id="mce-FNAME" placeholder="First Name" aria-invalid="false">
                </li>
                <li class="form__item">
                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
                </li>
                <li class="form__item">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" aria-required="true">
                </li class="form__item">
            </ul>
            <footer class="form__footer">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div> 
                <div style="position: absolute; left: -999em;" aria-hidden="true">
                    <input type="text" name="b_b6948f032db184ef12e04ed80_2326dffeeb" tabindex="-1" value="">
                </div>
                <input type="submit" value="Join Today!" name="subscribe" id="mc-embedded-subscribe" class="button">
            </footer>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
            <script type="text/javascript">
                (function($) {
                    window.fnames = new Array(); 
                    window.ftypes = new Array();
                    fnames[0]='EMAIL';
                    ftypes[0]='email';
                    fnames[1]='FNAME';
                    ftypes[1]='text';
                    fnames[2]='LNAME';
                    ftypes[2]='text';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
        </form>
    </div><!-- /.container -->
</footer><!-- /.site-footer -->


