{% if is_clickable %}
<a href="{{ site.url }}" class="logo" aria-label="Read more about Seminole tax hike">
{% endif %}

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 686.1 415.9">
  <style>
    .st0{fill:#ed1c24}
  </style>
  <path d="M223.5 347.1c-1.1 0-1.8.2-2.3.6-.4.4-.8 1.2-1.1 2.3l-.4 1.6h6.5l-2.6 14.8h-6l-5.8 32.7h-22.6l5.8-32.7h-4.7l2.6-14.8h4.7l1-5.3c1-5 2.8-8.6 5.6-10.6 2.8-2.1 6.4-3.1 10.9-3.1a37.3 37.3 0 0 1 14.6 2.9l-2.3 12.8a7.7 7.7 0 0 0-3.9-1.2zm-.9 52l10.3-58.7 25-7.8-11.8 66.5h-23.5zm56.9 16.8h-21.3l8.6-15.2-8.4-49h22.7l.2 5.4a273 273 0 0 1-.6 23.7l1.3-5 1.8-5.8 2.2-6.3 2.4-6.5 2-5.4h22.5l-33.4 64.1z"/>
  <path d="M344.2 347.1c-1.1 0-1.8.2-2.3.6-.4.4-.8 1.2-1.1 2.3l-.4 1.6h6.5l-2.6 14.8h-6l-5.8 32.7H310l5.8-32.7h-4.7l2.6-14.8h4.7l1-5.3c1-5 2.8-8.6 5.6-10.6 2.8-2.1 6.4-3.1 10.9-3.1a37.3 37.3 0 0 1 14.6 2.9l-2.3 12.8a8.3 8.3 0 0 0-4-1.2zm39.9 24.9c-1-.7-2-1.3-3.2-1.8a9.2 9.2 0 0 0-3.6-.7c-1.5 0-2.9.5-4.1 1.5-1.2 1-2.1 2.7-2.5 5.2l-4 22.9h-23.5l8.3-47.5H375l-.5 3.2c1.2-.9 2.7-1.8 4.6-2.8 1.8-.9 4.1-1.4 6.9-1.4a26.4 26.4 0 0 1 6 .7l-7.9 20.7zm24 8.8a9 9 0 0 0 1.2 2.8c.5.7 1.2 1.3 2 1.7.8.4 1.9.7 3.2.9l4.5.2a38 38 0 0 0 12.4-2.1l3 12.8-4.5 1.4a73.5 73.5 0 0 1-27.7.1c-3.3-1-6-2.5-8.1-4.3a17 17 0 0 1-4.7-6.8 31.4 31.4 0 0 1 .6-20.7 24.4 24.4 0 0 1 15-14.3 33.2 33.2 0 0 1 20-.8 16.8 16.8 0 0 1 11.6 9.8 24 24 0 0 1 1.7 9.4 40.9 40.9 0 0 1-1.1 9.7h-29.1zm11.6-11c0-1.9-.3-3.4-1-4.3-.7-.9-1.8-1.4-3.4-1.4-1.8 0-3.1.5-4 1.6a9.8 9.8 0 0 0-2 4.1h10.4zm41.6 11a9 9 0 0 0 1.2 2.8c.5.7 1.2 1.3 2 1.7.8.4 1.9.7 3.2.9l4.5.2a38 38 0 0 0 12.4-2.1l3 12.8-4.5 1.4a73.5 73.5 0 0 1-27.7.1c-3.3-1-6-2.5-8.1-4.3a17 17 0 0 1-4.7-6.8 31.4 31.4 0 0 1 .6-20.7 24.4 24.4 0 0 1 15-14.3 33.2 33.2 0 0 1 20-.8 16.8 16.8 0 0 1 11.6 9.8 24 24 0 0 1 1.7 9.4 40.9 40.9 0 0 1-1.1 9.7h-29.1zm11.6-11c0-1.9-.3-3.4-1-4.3-.7-.9-1.8-1.4-3.4-1.4-1.8 0-3.1.5-4 1.6a9.8 9.8 0 0 0-2 4.1h10.4z" class="st0"/>
  <path fill="none" d="M354.6 188.8l1.2.1-1.2-.1zm-2.5-.1h1.9-1.9z"/>
  <path d="M356.3 207.1c-8.4-7-23.9-8.8-26.5-7.5l6.2-8.2s2.6-1.7 10.5-2.4l5.5-.2h2.4l1.2.1c1.9.1 4 .3 6.3.7 7.2-11.9 9.7-16.9 10.8-18.7 8.7-14.8 21.4-34.8 39.5-46.1 8.6-5.4 21.8-12.7 31.8-17.3 0 0 2.5-1.1 1.4-3.2-1-1.5-3.2-.5-3.2-.5s-5.1 1.8-17.1 6.4c-23 8.7-40.9-.8-40.9-.8-10.4-4.3-17.8-3.7-17.8-3.7-26.1.7-42.2 33.5-42.2 33.5-19.8 27.9-66.3 28.2-66.3 28.2-4.8 0-9.8-.4-14.7-1C138 153 0 0 0 0c49.9 93.2 100.5 123.4 100.5 123.4C85.4 127 62 107 62 107c13.4 31.2 65 53.8 65 53.8-14.7 4.6-43.9-8.9-43.9-8.9a210.7 210.7 0 0 0 76.7 35.4c-19.1-2.6-34.5 5.3-34.5 5.3 19.8 4.3 37.2 16.7 37.2 16.7a474.2 474.2 0 0 0 63.5 42l1-2.3-1 2.3a309.9 309.9 0 0 0 35.7 17.1c19.4 7 45.9-1.8 58.2-11.8a147.7 147.7 0 0 0 36.4-49.5z"/>
  <path d="M585.6 123.4S636.2 93.2 686.1 0c0 0-120.6 146.3-219.5 161.9-11.1 1.8-22.4 4-22.9 4.2a94 94 0 0 0-32 26.5l-8.4 10.5c8.2 6.6 29 10.7 45.4 7.7 3.9-.7 7.9-1.7 12.1-3l1.4-.4a85.8 85.8 0 0 1-12 12.1c-20.8 9.2-49.1 4.2-57.1 1.4 0 0-13.1 15.7-21.9 23.3l.1-.2c-12.5 10.4-35.6 35.5-83.7 35.1 0 0 25.6 7.1 60.7 4.6a335.3 335.3 0 0 0 118.2-36l4.4-2.5a485 485 0 0 0 52.4-35.8s17.4-12.5 37.2-16.7c0 0-15.4-7.9-34.5-5.3 0 0 42.5-8.8 76.7-35.4 0 0-29.1 13.4-43.9 8.9 0 0 51.6-22.6 65-53.8.3-.1-23.2 19.9-38.2 16.3z" class="st0"/>
  <path fill="#fff" d="M354.1 188.8h.5-.5zm-2-.1a62.7 62.7 0 0 0-1.9 0h1.9z"/>
</svg>

{% if is_clickable %}
</a>
{% endif %}