<ul>
    {% for item in main_menu.items %}
        <li>
            <a href="{{ item.url }}" class="{{ item.class }}">
                {{ item.title }}
            </a>
        </li>
    {% endfor %}
</ul>