.site {
    width: 100%;
    max-width: 125rem;
    background: white;
    margin: 0 auto;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}