.entry-header {
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23eaeaea' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    text-align: center;
    padding: 4rem 0;
    position: relative;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #eee;
        position: absolute;
        bottom: -25px;
        left: 50%;
        margin-left: -12px;
    }

    &__subtitle {
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        opacity: .8;
    }

    &__title {
        font-size: 3rem;
        margin-top: .5em;
    }
}