.navigation {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: .5rem 0;
    top: 0;
    position: sticky;
    z-index: 9000;
    background: rgba($white, .9);
    width: 100%;
    max-width: 125rem;
    margin: 0 auto;

    @at-root .admin-bar & {
        top: 32px;
    }

    &__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo {
        height: 4rem;
        margin: 0 auto 0 0;
    }

    &__list {
        position: fixed;
        top: calc(-100vh - 3rem);
        left: 0;
        width: 100%;
        background: $white;
        height:  100vh;
        z-index: 1000;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        transition: top 300ms;

        @include breakpoint($medium) {
            position: relative;
            width: auto;
            background: none;
            height: auto;
            display: flex;
            margin: 0 1rem 0 0;
            top: 0 !important;
        }
    }

    &__item {
        height: 15%;

        &--logo {
            height: 25%;
            padding: 2rem 0;

            @include breakpoint($medium) {
                display: none;
            }

            .logo {
                height: 100%;
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        border-top: 1px solid $light-grey;
        font-family: $title-font;
        text-transform: uppercase;
        letter-spacing: 2px;

        @include breakpoint($medium) {
            border: none;
            display: inline-block;
            font-family: $title-font;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: .875rem;
            margin: 0 .5rem;
            color: $dark-grey;
            padding: .5rem;
            border-radius: 3px;
        }

        &:hover {
            background: $red;
            color: $white;
            box-shadow: none;

            @include breakpoint($medium) {
                background: none;
                color: $red;
            }
        }

        &.classes {
            @include breakpoint($medium) {
                display: none;
            }
        }
    }

    &__hamburger {
        position: relative;
        z-index: 1001;
        margin: 0 0 0 1.5rem;
        order: 2;

        @include breakpoint($medium) {
            display: none !important;
        }

        &.is-open {

            + .navigation__list {
                top: 0;
            }
        }
    }
}