@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

$red: #e0001b;
$green: #9EE493;
$grey: #1b1819;
$dark-grey: #0e0e0e;
$medium-grey: #ccc;
$light-grey: #eee;
$white: #fff;

$body-font: 'Roboto', sans-serif;
$title-font: 'Work Sans', sans-serif;

$spacing-mini: .5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;


$small: '600px';
$medium: '782px';
$large: '960px';
$xlarge: '1024px';